li{
    margin-bottom: 20px;
}
body{
    background-image: url("Background.jpg");
    background-size: cover;
    text-align: center;
}
h1{
    color: white;
}
ul{
    color: white;
    font-family: "Josefin Slab", serif;
    max-width: 1250px;
    text-align: center;
    margin: 30px auto 100px;
    list-style: none;
    padding: 0;
}
h2{
    font-family: "Josefin Slab", serif;
}
a{
    color: white;
}